<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Lobster & Poppins -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- static files -->
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="initial.css">
    
    <!-- particular style -->
    <link rel="stylesheet" href="form.css">

    <title>Document</title>
</head>
<body>

    <div class="wrapper">

        <label for="hamburger" id="hamburgerLabel">
            <span></span>
        </label>
        <input type="checkbox" name="hamburger" id="hamburger" >
        <div class="sideBar">

            <h1>NOTES</h1>

            <div><a href="#">Create</a></div>
            <div><a href="#">View</a></div>
            <div><a href="#">Search</a></div>
            <div><a href="#">Favourites</a></div>
            
            <a href="#">Logout</a>
        
        </div>

        <main>
            <header>
                <h1>create / edit</h1>
            </header>
            
            <!-- content -->
            <section>
                
                <form action="" method="POST">
                    <input placeholder="Title" required id="title" name="title" type="input" required>
                    <textarea placeholder="Note's here" name="content" id="content" cols="40" rows="10" required></textarea>
                    <div style="display: flex;">
                        <input id="submit" value="save" type="submit"></input>
                    </div>
                </form>

            </section>

            <footer>
                <p>< code with love  by <a href="https://karansh491.netlify.app">@karansh491</a> /></p>
            </footer>

        </main>

    </div>
    
</body>
</html>