{% extends 'notes/template.html' %}


<!-- personal styling -->
    {% block static %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'notes/search.css' %}">
        <link rel="stylesheet" href="{% static 'notes/cards.css' %}">
    {% endblock %}


    {% block title %}
        search
    {% endblock %}


    {% block heading %}
        Search Notes
    {% endblock %}

    
    {% block body %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input required id="search" name="search" type="search">
                    <input id="submit" type="submit" value="search">
                </form>
                <p id="error">{{ error_message }}</p>


        {% include 'notes/cards.html' %}


    {% endblock %}